html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.screen {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;

}

body,
html {
	@include media-breakpoint-up(xxl) {

		font-size: $em-base;
	}

	font-size: 14px;
	// @include font-size(1rem);
}

.section {
	@include bgs;

	@include media-breakpoint-up(md) {

		padding-top: rem(70px);
		padding-bottom: rem(70px);
	}

	padding-top: rem(70px / 2);
	padding-bottom: rem(70px / 2);

	h2 {
		@include media-breakpoint-up(md) {

			margin-bottom: rem(70);
		}

		margin-bottom: rem(20);
		color: $primary;
	}
}

.section-title {
	@extend .h2;
	padding-bottom: em(10);

}

body {
	min-width: 320px;
	position: relative;
	background-image: linear-gradient(179.89deg, #ECECF4 -66.11%, #F4F4F9 20.98%, rgba(250, 250, 252, 0) 84.38%);

}

.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	// text-decoration: underline;
	text-decoration: none !important;
	border-bottom: 1px solid;

	&:hover {
		// text-decoration: none;
		border-color: transparent;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;
		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}


.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: -15px;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: -15px;

	}

	svg {
		@include media-breakpoint-down(md) {

			width: 30px;
			height: auto;
		}
	}
}

.slick-dots {
	list-style: none;
	text-align: center;
	margin-top: rem(50);

	li {
		display: inline-block;
		border-radius: 50%;
		width: rem(16px);
		height: rem(16px);
		background: #C4C4C4;
		margin: rem(6);

		button {
			display: none;
		}

		&:hover,
		&.slick-active {
			background-color: $primary;
		}
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}




input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}





@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}


picture {
	display: block;

	// display: flex;
	// width: 100%;
	// height: 100%;
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}


a {
	@include mt;
}

.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: #000;
	min-height: 100px;
	font-size: 20px;
	color: #ffffff;
}

.btn-danger {
	@extend .btn;
	font-weight: 500;
	box-shadow: 0 $h6-font-size $h5-font-size rgba(237, 27, 27, 0.48),
		inset 0 -7px 0 rgba(0, 0, 0, 0.25);
	border: none;
	padding-top: $input-btn-padding-y * .9;
	padding-bottom: $input-btn-padding-y * 1.1;

	&:hover {
		box-shadow: 0 0 $h5-font-size rgba(237, 27, 27, 0.48),
			inset 0 0 0 rgba(0, 0, 0, 0.25);

	}
}

.section-btn {
	position: relative;
	z-index: 2;
	border-bottom: 1px solid rgba($color: #1E1E8B, $alpha: .2);

	&::after,
	&::before {
		z-index: -1;
		content: '';
		position: absolute;
		width: rem(1071);
		height: rem(100);
		background-size: 100% 100%;
		bottom: rem(-23);
		background-image: url(../img/svg/chart-right.svg);
	}

	&::after {
		background-image: url(../img/svg/chart-left.svg);
		left: 0;
		transform: translateX(-20%);

	}

	&::before {
		right: 0;
		transform: translateX(20%);
	}

}

.slick-track {
	display: flex;
	align-items: center;
}