mixin s-why()
	// start s-why
	+b.SECTION.s-why.section#s-why&attributes(attributes)
		.container 
			h2 Почему нам можно верить? 
			+e.row.row.mx-0
				+e.col.col-md-6
					+e.title МЫ&nbsp;НЕ&nbsp;АФФИЛИРОВАНЫ НИ С&nbsp;ОДНИМ БРОКЕРОМ
					p Нам не&nbsp;важно, у&nbsp;какого брокера&nbsp;Вы будете работать. Мы&nbsp;не зарабатываем на&nbsp;комиссионных и&nbsp;не агитируем Вас вкладывать деньги. Напротив, призываем Вас учиться на &laquo;демо-счете&raquo; и&nbsp;не&nbsp;вкладывать реальные деньги пока не&nbsp;освоите нашу стратегию
				+e.col.col-md-6
					+e.title МЫ НЕ ОБЕЩАЕМ <br> ЗОЛОТЫЕ ГОРЫ
					p Нужно быть настоящим профи, чтобы заколачивать миллионы. Но&nbsp;мы&nbsp;научим Вас делать от&nbsp;100 долларов прибыли в&nbsp;день. По&nbsp;меркам финансовых рынков это копейки. Но&nbsp;это под силу каждому!
	// end s-why