mixin allcss() 
	//- link(rel="stylesheet", href="libs/magnificPopup/magnific-popup.css")
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")
	//- link(rel="stylesheet", href="css/main.css")
	//- link(rel="stylesheet", href="libs/swiper/css/swiper.min.css")
	link(rel="stylesheet", href="libs/slick-carousel/slick/slick.css")
	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	//- link(rel='stylesheet', href='https://infoclub.info/tools/api_subscriber/timer.css')
	//- link(rel='stylesheet', href='css/timer.css')
	<link rel="stylesheet" href="//infoclub.info/tools/api_subscriber/timer.css"/>
	link(rel="stylesheet", href="css/main.min.css")
	
mixin allcjs() 
	script(src="https://code.jquery.com/jquery-2.2.4.min.js")
	<script type="text/javascript" src="//infoclub.info/tools/api_subscriber/timer_universal.js?3"></script>
		//- script(type='text/javascript', src="//infoclub.info/tools/api_subscriber/timer_universal.js?3")
	//- script(type='text/javascript', src='js/timer_universal.js')
 
	// modal libs
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	//- script(src="libs/swiper/js/swiper.min.js")
	script(src="libs/slick-carousel/slick/slick.min.js")
	// /slider libs  
	//- script(src="libs/inputmask/jquery.inputmask.min.js")
	script(src="js/common.js")